In [1]:
import numpy as np
import pandas as pd

### Load Data set

In [13]:
df = pd.read_csv("adidas-2.csv", index_col=0, 
                 low_memory=False)

## Inspect Data set

In [14]:
df.head()

,Product ID,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews,Last Visited
Product Name,,,,,,,,,
Women's adidas Originals NMD_Racer Primeknit Shoes,AH2430,14999,7499,50,Adidas Adidas ORIGINALS,Channeling the streamlined look of an '80s rac...,4.8,41,2020-04-13T15:06:14
Women's adidas Originals Sleek Shoes,G27341,7599,3799,50,Adidas ORIGINALS,"A modern take on adidas sport heritage, tailor...",3.3,24,2020-04-13T15:06:15
Women's adidas Swim Puka Slippers,CM0081,999,599,40,Adidas CORE / NEO,These adidas Puka slippers for women's come wi...,2.6,37,2020-04-13T15:06:15
Women's adidas Sport Inspired Questar Ride Shoes,B44832,6999,3499,50,Adidas CORE / NEO,"Inspired by modern tech runners, these women's...",4.1,35,2020-04-13T15:06:15
Women's adidas Originals Taekwondo Shoes,D98205,7999,3999,50,Adidas ORIGINALS,This design is inspired by vintage Taekwondo s...,3.5,72,2020-04-13T15:06:15

In [15]:
df.shape

(3268, 9)

## Drop columns

In [16]:
newdf = df.drop(['Product ID', 'Discount', 'Description', 'Rating', 'Reviews', 'Last Visited'], axis = 1)

In [17]:
newdf

,Listing Price,Sale Price,Brand
Product Name,,,
Women's adidas Originals NMD_Racer Primeknit Shoes,14999,7499,Adidas Adidas ORIGINALS
Women's adidas Originals Sleek Shoes,7599,3799,Adidas ORIGINALS
Women's adidas Swim Puka Slippers,999,599,Adidas CORE / NEO
Women's adidas Sport Inspired Questar Ride Shoes,6999,3499,Adidas CORE / NEO
Women's adidas Originals Taekwondo Shoes,7999,3999,Adidas ORIGINALS
...,...,...,...
Air Jordan 8 Retro,15995,12797,Nike
Nike Phantom Venom Club IC,4995,3497,Nike
Nike Mercurial Superfly 7 Academy TF,8495,5947,Nike
Nike Air Max 98,0,16995,Nike
Nike P-6000 SE,8995,6297,Nike

## Move decimal to the left in Sale Price column

In [21]:
newdf['Sale Price'] = newdf['Sale Price'].div(100).round(2)

## Count of Brands

In [34]:
brandpivot = newdf.pivot_table(index='Brand', aggfunc='size', fill_value=0)
brandpivot

Brand
Adidas Adidas ORIGINALS        1
Adidas CORE / NEO           1111
Adidas ORIGINALS             907
Adidas SPORT PERFORMANCE     606
Nike                         643
dtype: int64

## Average Sale Price Per Brand

In [33]:
df_pivot = pd.pivot_table(newdf, values=['Sale Price'], index=['Brand'], aggfunc=np.average)
df_pivot

                          Sale Price
Brand
Adidas Adidas ORIGINALS    74.990000
Adidas CORE / NEO          31.162124
Adidas ORIGINALS           68.116792
Adidas SPORT PERFORMANCE   63.227426
Nike                      102.136765

In [38]:
total = newdf['Brand'].count()
print (total)

3268