  * Statistics Functions

In [11]:
#Import necessary libraries
import pandas as pd
import numpy as np

## `GRADED [1]`: Provided below are functions that are:
- completely defined: `add_numbers`;
- partially defined: `min_square`; _and_
- not defined at all: `time_squares`

 1. Complete `min_square` so that it returns the minimum of (square root of `a` and square root of `b`)
 2. Write a function called `time_squares` that returns the multiplication of the square root of `a` and the square root of `b`.
 3. Assume both a and b are positive numbers.

In [67]:
# [1] YOUR ANSWER HERE:

def add_numbers(x, y):
    result = x + y
    return result

def min_square(a, b):
    # Write code to return the lower of (minimum of) square root of a and square root of b
    result =  min(np.sqrt(a), np.sqrt(b))
    return result

def time_squares(a, b):
    result = np.sqrt(a) * np.sqrt(b)
    return result

2.4494897427831783

## `GRADED [2]`: 
Write a function called `personal_info` that takes a a last name, age, and a home town (a total of 3 arguments) and returns a full sentence string with the following content and format: `Your last name is [name], you are [age] years old, and you live in [city].`--where the values in square brackets are the actual values of the three arguments provided by the function. 

- Please make sure that you follow the format and grammar of the sentence exactly as defined and that you use `f-string` Python string formatting--any other type of formatting will receive reduced points.

- Please properly __capitalize__ the city name

`Hint`: Your string shold follow the Python f-strings formatting functionality. https://realpython.com/python-f-strings/

In [112]:
def personal_info(name, age, city):
    city = city.title()
    print(f'Your last name is {name}, you are {age} years old, and you live in {city}.')

In [113]:
personal_info('Smith', 30, 'boston')  # please do not modify this cell

Your last name is Smith, you are 30 years old, and you live in Boston.

## `GRADED [3]`: 
Using a `while` loop: loop over every sequential _odd_ number between `2` and `29` (__`inclusive`__); in the same `while` loop print __`only`__ every 3rd sequential of those odd numnbers you have encountered in the loop.

In [111]:
number = 2
seq = 0
while number < 30:
    if number % 2 != 0:
        seq+=1
        if seq == 3:
            print(number)
            seq = 0
    number += 1

7
13
19
25

## `GRADED [4]`: 
Define a function called `length_converter` that takes as an argument a length in `meters` and __prints__ the equivalent distance in `miles` using the following sentence: `Original length was [..] meters, which equals [..] miles.`

Please round your result to __2 decimal places__.

In [36]:
def length_converter(meters):
    miles = (meters * 0.000621371)
    print("Original length was %.2f meters, which equals %.2f miles" %(meters, miles))

In [37]:
length_converter(5000)  # please do not modify this cell

Original length was 5000.00 meters, which equals 3.11 miles

## `GRADED [5]`: 
Given the following dictionary, please write code to calcuate the __median__ and __standard deviation__ of annual salary for those CEOs.

In [115]:
company_dict = {
    'Satya Nadella': ['Microsoft', '$42,910,215'],
    'Mark Zuckerberg': ['Facebook', '$1'],
    'Jeff Bezos': ['Amazon', '$81,840'],
    'Tim Cook': ['Apple', '$3,000,000']    
}

In [139]:
df = pd.DataFrame.from_dict(company_dict)
df = df.T
df[df.columns[1:]] = df[df.columns[1:]].replace('[\$,]', '', regex=True).astype(float)
df

print(df.median())
print(df.std())

1    1540920.0
dtype: float64
1    2.098790e+07
dtype: float64